<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274613031721-b24ravrd2meg5ggan2idjhda6h8ugfg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274613031721-b24ravrd2meg5ggan2idjhda6h8ugfg8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>274613031721-gkbkrqud7cu90kpdu3dk0cqr10o41tu8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyANiOX7uuTCP2g26WIpU3Q4KJOK7FiNEMw</string>
	<key>GCM_SENDER_ID</key>
	<string>274613031721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flynnapps.foodtray</string>
	<key>PROJECT_ID</key>
	<string>food-tray-app</string>
	<key>STORAGE_BUCKET</key>
	<string>food-tray-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274613031721:ios:87b606bed3e73cdd59dd38</string>
</dict>
</plist>